.head {
    padding-top: 15%;
    font-size:  5em;
    text-align: center;
    padding-bottom: 5%;
}

.head span {
  color: crimson;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;

}

.form-group {
  margin-bottom: 20px;
  font-size: 1.7em;
  padding-top: 2.5%;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}
